<hmtl></hmtl>
<body>
<h1><%=title%></h1>
<form method="post" action="/">
    <div>How do you like my site?</div>
    <input type="radio" name="rating" value="1">1<br>
    <input type="radio" name="rating" value="2">2<br>
    <input type="radio" name="rating" value="3">3<br>
    <input type="radio" name="rating" value="4">4<br>
    <input type="radio" name="rating" value="5">5<br>
    <br/>
    <div>Please send me your feedback?</div>
    <textarea name="feedback" rows="4" cols="50"></textarea>
    <br/>
    <input type="submit" value="Send" />
</form>
</body>
</hmtl>